<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="b17784">  <td>16/06/10 09:14:53</td>   <td>0</td> <td>&nbsp;</td><td title="&gt;&gt;Update_Leads_Excel.before()[pri:0, instance:clarity_UpdateLead.Update_Leads_Excel@7bbc8656]">&gt;&gt;before</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@131872530</td>   <td></td> </tr>
<tr bgcolor="b17784">  <td>16/06/10 09:15:00</td>   <td>6463</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Update_Leads_Excel.maintest()[pri:0, instance:clarity_UpdateLead.Update_Leads_Excel@7bbc8656]">maintest</td> 
  <td>main@131872530</td>   <td></td> </tr>
</table>
