<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ClubReservations</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="93ce8c">  <td>16/03/30 11:31:46</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.B_Login@3e78b6a5]">openBrowser</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>16/03/30 11:31:56</td>   <td>10082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@7975d1d8]">Customer360</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/03/30 11:32:05</td>   <td>18470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@2438dcd]">LeadInfo_Reservations</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/03/30 11:32:07</td>   <td>20488</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@24105dc5]">Reservations</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/03/30 11:32:09</td>   <td>22244</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubReservations.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubReservations@5167f57d]">ClubRes</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/03/30 11:32:29</td>   <td>42279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation()[pri:0, instance:cclb_Reservations.G_BookReservation@64b0598]">BookReservation</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/03/30 11:33:27</td>   <td>100886</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@64b0598]">Resort_Availability</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/03/30 11:33:36</td>   <td>109397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.G_BookReservation@64b0598]">Room_Upgrade_Yes</td> 
  <td>main@368342628</td>   <td></td> </tr>
<tr bgcolor="ee9593">  <td>16/03/30 11:33:47</td>   <td>120834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@64b0598]">Errata</td> 
  <td>main@368342628</td>   <td></td> </tr>
</table>
