<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CCLB SMOKE TEST</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:09</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Add_Creditcard</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:48</td>   <td>399186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Add_Creditcard</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="7bf0b5">  <td>16/04/06 12:06:56</td>   <td>106735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_SearchReservation.Availability_Search_Request_ChoicesAvailable()[pri:0, instance:cclb_Reservations.H_SearchReservation@448c8166]">Availability_Search_Request_ChoicesAvailable</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:47</td>   <td>-142279</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:19</td>   <td>10088</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>260860</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>410963</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>540294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:01:14</td>   <td>-235252</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:03:56</td>   <td>-72794</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:06:19</td>   <td>69631</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@147e2ae7]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:08:13</td>   <td>183289</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:10:16</td>   <td>306898</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:12:51</td>   <td>461799</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:00:48</td>   <td>-261099</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@2254127a]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:03:34</td>   <td>-95355</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@9816741]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:05:55</td>   <td>45531</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@78452606]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:07:51</td>   <td>162172</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@20bd8be5]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:09:59</td>   <td>289534</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@64b0598]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:12:32</td>   <td>442570</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@3214ee6]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:47</td>   <td>-141929</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>10973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:31</td>   <td>261669</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>411784</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:11</td>   <td>541435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:00:09</td>   <td>-300251</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@66ea810]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:02:58</td>   <td>-131038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@29f7cefd]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:05:27</td>   <td>17859</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@7d322cad]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:07:25</td>   <td>135294</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@3bcd05cb]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:09:38</td>   <td>268857</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@2438dcd]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:12:08</td>   <td>418982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@45efd90f]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>-141711</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Discount()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>540614</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Discount()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:20</td>   <td>-169544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:46</td>   <td>-22910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:16</td>   <td>246877</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:09</td>   <td>359540</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="b4dd94">  <td>16/04/06 12:13:53</td>   <td>524026</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_Yes()[pri:0, instance:cclb_Reservations.N_Discount@4a07d605]">Discount_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>-141656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>10802</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:31</td>   <td>261501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>411592</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:11</td>   <td>541262</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:19</td>   <td>-170234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:45</td>   <td>-24285</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:15</td>   <td>246156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:07</td>   <td>358186</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:53</td>   <td>523271</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:45</td>   <td>-143989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:27</td>   <td>257660</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:06</td>   <td>537101</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:45</td>   <td>-144130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Financial_Summary_Dollar</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:47</td>   <td>397933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Financial_Summary_Dollar</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:27</td>   <td>257501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Euro()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Financial_Summary_Euro</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:06</td>   <td>536943</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Euro()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Financial_Summary_Euro</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>-1072</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Financial_Summary_Fee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:47</td>   <td>398092</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Financial_Summary_Fee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>-1231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Pound()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Financial_Summary_Pound</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:00:15</td>   <td>-294061</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@6cd24612]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:03:12</td>   <td>-117115</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@700fb871]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:05:32</td>   <td>22411</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@21be3395]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:07:31</td>   <td>141328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@3b6d844d]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:09:47</td>   <td>277674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@24105dc5]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:12:12</td>   <td>423210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@4b8729ff]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>-141653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>10325</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>261022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>411146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>540454</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:02:20</td>   <td>-169103</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@2f953efd]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:04:47</td>   <td>-22596</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@13d73f29]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:09:16</td>   <td>247207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@24959ca4]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:11:09</td>   <td>360168</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e2055d6]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:02:24</td>   <td>-165034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@2f953efd]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:04:48</td>   <td>-20803</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@13d73f29]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:09:19</td>   <td>249850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@24959ca4]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:11:16</td>   <td>367162</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e2055d6]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:13:57</td>   <td>527328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@74287ea3]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f69e84">  <td>16/04/06 12:12:01</td>   <td>411999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="M_Refund.Refund()[pri:0, instance:cclb_Reservations.M_Refund@6cc4cdb9]">Refund</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:25</td>   <td>-163818</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:04:50</td>   <td>-19330</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:20</td>   <td>251036</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:18</td>   <td>369154</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:13:59</td>   <td>529839</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>-141653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:18</td>   <td>8981</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:29</td>   <td>259301</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:11:59</td>   <td>409585</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:08</td>   <td>538749</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:49</td>   <td>-140064</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>10326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>261022</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>411146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>540455</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:45</td>   <td>-144565</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:26</td>   <td>256999</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:14:06</td>   <td>536560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:04:49</td>   <td>-19871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>-1724</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:18</td>   <td>368430</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:45</td>   <td>396236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:00:47</td>   <td>-262545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@5dafbe45]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:03:29</td>   <td>-100354</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@3b35a229]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:05:49</td>   <td>39259</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@4f49f6af]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:07:47</td>   <td>158143</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@36804139]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:09:49</td>   <td>279910</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@5167f57d]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:12:29</td>   <td>439969</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@61710c6]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:01:54</td>   <td>-195216</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:31</td>   <td>-37945</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:08:51</td>   <td>221641</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:10:55</td>   <td>345453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:28</td>   <td>498501</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:04</td>   <td>-185334</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:00</td>   <td>231059</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:37</td>   <td>508196</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:05:07</td>   <td>-2106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Room_Upgrade_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:45</td>   <td>395811</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Room_Upgrade_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:40</td>   <td>-29274</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Room_Upgrade_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:05</td>   <td>355319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Room_Upgrade_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:46</td>   <td>-142994</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:28</td>   <td>258659</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:07</td>   <td>538148</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:16</td>   <td>6997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Save_Reservation_PaidFee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:55</td>   <td>406231</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Save_Reservation_PaidFee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:49</td>   <td>-139904</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>10490</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>261189</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>411307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>540952</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:45</td>   <td>-144398</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:05:07</td>   <td>-1964</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:26</td>   <td>257187</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:14:06</td>   <td>536705</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:45</td>   <td>395974</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_Yes()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Travel_Protection_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:00:02</td>   <td>-306779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@46d59067]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:02:50</td>   <td>-139470</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@1224144a]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:05:20</td>   <td>11236</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@642a7222]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:07:19</td>   <td>129735</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@17503f6b]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:09:31</td>   <td>262209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@7975d1d8]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:12:02</td>   <td>412745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@7d9f158f]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
</table>
