<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CCLB SMOKE TEST</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:00:02</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@46d59067]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:00:09</td>   <td>6528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@66ea810]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:00:15</td>   <td>12718</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@6cd24612]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:00:47</td>   <td>44234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@5dafbe45]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:00:48</td>   <td>45680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@2254127a]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:01:14</td>   <td>71527</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:01:54</td>   <td>111563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:04</td>   <td>121445</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:19</td>   <td>136545</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:02:20</td>   <td>137235</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@51891008]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:02:20</td>   <td>137676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@2f953efd]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:02:24</td>   <td>141745</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@2f953efd]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:25</td>   <td>142961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:45</td>   <td>162214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:02:45</td>   <td>162381</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@f68f0dc]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:45</td>   <td>162649</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Financial_Summary_Dollar</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:45</td>   <td>162790</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:02:46</td>   <td>163785</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@d2de489]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:47</td>   <td>164500</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:47</td>   <td>164850</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>165068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Discount()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>165123</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>165126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:48</td>   <td>165126</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:49</td>   <td>166715</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:02:49</td>   <td>166875</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@14bdbc74]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:02:50</td>   <td>167309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@1224144a]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:02:58</td>   <td>175741</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@29f7cefd]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:03:12</td>   <td>189664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@700fb871]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:03:29</td>   <td>206425</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@3b35a229]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:03:34</td>   <td>211424</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@9816741]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:03:56</td>   <td>233985</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:31</td>   <td>268834</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:40</td>   <td>277505</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Room_Upgrade_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:45</td>   <td>282494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:04:46</td>   <td>283869</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@1e16c0aa]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:04:47</td>   <td>284183</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@13d73f29]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:04:48</td>   <td>285976</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@13d73f29]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:04:49</td>   <td>286908</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:04:50</td>   <td>287449</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:05:07</td>   <td>304673</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Room_Upgrade_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:05:07</td>   <td>304815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@565f390]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>305055</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>305548</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Pound()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Financial_Summary_Pound</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:08</td>   <td>305707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Financial_Summary_Fee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:09</td>   <td>306779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Add_Creditcard</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:05:16</td>   <td>313776</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc3712]">Save_Reservation_PaidFee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:18</td>   <td>315760</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:19</td>   <td>316867</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>317104</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>317105</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>317269</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>317581</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:05:20</td>   <td>317752</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@2f67a4d3]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:05:20</td>   <td>318015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@642a7222]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:05:27</td>   <td>324638</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@7d322cad]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:05:32</td>   <td>329190</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@21be3395]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:05:49</td>   <td>346038</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@4f49f6af]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:05:55</td>   <td>352310</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@78452606]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:06:19</td>   <td>376410</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@147e2ae7]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="7bf0b5">  <td>16/04/06 12:06:56</td>   <td>413514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_SearchReservation.Availability_Search_Request_ChoicesAvailable()[pri:0, instance:cclb_Reservations.H_SearchReservation@448c8166]">Availability_Search_Request_ChoicesAvailable</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:07:19</td>   <td>436514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@17503f6b]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:07:25</td>   <td>442073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@3bcd05cb]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:07:31</td>   <td>448107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@3b6d844d]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:07:47</td>   <td>464922</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@36804139]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:07:51</td>   <td>468951</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@20bd8be5]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:08:13</td>   <td>490068</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:08:51</td>   <td>528420</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:00</td>   <td>537838</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:15</td>   <td>552935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:09:16</td>   <td>553656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@730d2164]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:09:16</td>   <td>553986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@24959ca4]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:09:19</td>   <td>556629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@24959ca4]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:20</td>   <td>557815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:26</td>   <td>563778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:09:26</td>   <td>563966</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@10289886]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:27</td>   <td>564280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Euro()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Financial_Summary_Euro</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:27</td>   <td>564439</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:09:28</td>   <td>565438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5c86dbc5]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:29</td>   <td>566080</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>567639</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>567801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>567801</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:30</td>   <td>567968</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:31</td>   <td>568280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:09:31</td>   <td>568448</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@461ad730]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:09:31</td>   <td>568988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@7975d1d8]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:09:38</td>   <td>575636</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@2438dcd]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:09:47</td>   <td>584453</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@24105dc5]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:09:49</td>   <td>586689</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@5167f57d]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:09:59</td>   <td>596313</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@64b0598]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:10:16</td>   <td>613677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:10:55</td>   <td>652232</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:05</td>   <td>662098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Room_Upgrade_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:07</td>   <td>664965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:11:09</td>   <td>666319</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Discount_No()[pri:0, instance:cclb_Reservations.G_BookReservation@18f8cd79]">Discount_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:11:09</td>   <td>666947</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e2055d6]">MethodofPaymentOptions</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:11:16</td>   <td>673941</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e2055d6]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:18</td>   <td>675209</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:18</td>   <td>675933</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:45</td>   <td>702590</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Room_Upgrade_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:11:45</td>   <td>702753</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_Yes()[pri:0, instance:cclb_Reservations.J_ClubReservations@50029372]">Travel_Protection_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:45</td>   <td>703015</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Reservation_RoomUpgrade</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:47</td>   <td>704712</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Financial_Summary_Dollar</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:47</td>   <td>704871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Financial_Summary_Fee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:48</td>   <td>705965</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Add_Creditcard</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:11:55</td>   <td>713010</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@e3b3b2f]">Save_Reservation_PaidFee</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:11:59</td>   <td>716364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>717742</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>717925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:00</td>   <td>717925</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>718086</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>718371</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:12:01</td>   <td>718563</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@50f6ac94]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f69e84">  <td>16/04/06 12:12:01</td>   <td>718778</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="M_Refund.Refund()[pri:0, instance:cclb_Reservations.M_Refund@6cc4cdb9]">Refund</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/04/06 12:12:02</td>   <td>719524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@7d9f158f]">openBrowser</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/04/06 12:12:08</td>   <td>725761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@45efd90f]">Customer360</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/06 12:12:12</td>   <td>729989</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@4b8729ff]">LeadInfo_Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/06 12:12:29</td>   <td>746748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@61710c6]">Reservations</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/06 12:12:32</td>   <td>749349</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@3214ee6]">ClubRes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:12:51</td>   <td>768578</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">BookReservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:28</td>   <td>805280</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Resort_Availability</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:37</td>   <td>814975</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Room_Upgrade_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/06 12:13:53</td>   <td>830050</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Errata()[pri:0, instance:cclb_Reservations.G_BookReservation@383dc82c]">Errata</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="b4dd94">  <td>16/04/06 12:13:53</td>   <td>830805</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_Yes()[pri:0, instance:cclb_Reservations.N_Discount@4a07d605]">Discount_Yes</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/06 12:13:57</td>   <td>834107</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Discount()[pri:0, instance:cclb_Reservations.I_MOPPayments@74287ea3]">MethodofPaymentOptions_Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:13:59</td>   <td>836618</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:14:06</td>   <td>843339</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Reservation_RoomType</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/06 12:14:06</td>   <td>843484</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Travel_Protection_No()[pri:0, instance:cclb_Reservations.J_ClubReservations@7d7758be]">Travel_Protection_No</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:06</td>   <td>843722</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Euro()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Financial_Summary_Euro</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:06</td>   <td>843880</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Financial_Summary</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/06 12:14:07</td>   <td>844927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@2bdd8394]">Save_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:08</td>   <td>845528</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Reservation_Confirmation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>847073</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Beginning_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>847233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Length</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>847234</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Reservation_Cost</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>847393</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Discount()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Discount</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:10</td>   <td>847731</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Total_Points_Used_for_Reservation</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:11</td>   <td>848041</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Ending_Points_Balance</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/06 12:14:11</td>   <td>848214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:0, instance:cclb_Reservations.Z_FinalConfirmation@5f9edf14]">Confirmation_Message</td> 
  <td>TestNG@103556261</td>   <td></td> </tr>
</table>
