<h2>Methods that were not run</h2><table>
<tr><td>cclb_Reservations.K_FinancialSummary.Financial_Summary</td></tr>
<tr><td>cclb_Reservations.Z_FinalConfirmation.Discount</td></tr>
<tr><td>cclb_Reservations.K_FinancialSummary.Save_Reservation</td></tr>
<tr><td>cclb_Reservations.K_FinancialSummary.Travel_Protection_Yes</td></tr>
<tr><td>cclb_Reservations.Z_FinalConfirmation.NextYearEnding_Points_Balance</td></tr>
<tr><td>cclb_Reservations.I_MOPPayments.MethodofPaymentOptions_Borrow</td></tr>
<tr><td>cclb_Reservations.I_MOPPayments.MethodofPaymentOptions_Discount</td></tr>
<tr><td>cclb_Reservations.J_ClubReservations.Reservation_RoomType</td></tr>
<tr><td>cclb_Reservations.K_FinancialSummary.Financial_Summary_Euro</td></tr>
<tr><td>cclb_Reservations.N_Discount.Discount_Yes</td></tr>
<tr><td>cclb_Reservations.P_RoomUpgrade.Room_Upgrade_No</td></tr>
<tr><td>cclb_Reservations.Z_FinalConfirmation.Borrowed_Points</td></tr>
<tr><td>cclb_Reservations.K_FinancialSummary.Financial_Summary_Dollar</td></tr>
</table>