<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Room Upgrade Reservation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9e72ba">  <td>16/06/09 08:05:54</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@1e8823d2]">openBrowser</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="9ba6c3">  <td>16/06/09 08:06:03</td>   <td>9326</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@4c432866]">Customer360</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="6be46f">  <td>16/06/09 08:06:15</td>   <td>21142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@12365c88]">LeadInfo_Reservations</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="6ab0da">  <td>16/06/09 08:06:17</td>   <td>23242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@6105f8a3]">Reservations</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="6be2c3">  <td>16/06/09 08:06:23</td>   <td>28656</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@2237bada]">ClubRes</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>16/06/09 08:07:04</td>   <td>69885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@77e2a6e2]">BookReservation</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="7badd3">  <td>16/06/09 08:07:18</td>   <td>83961</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@77e2a6e2]">Resort_Availability</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="e262ad">  <td>16/06/09 08:07:30</td>   <td>95750</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@5710768a]">Room_Upgrade_Yes</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="be656f">  <td>16/06/09 08:07:39</td>   <td>105514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@199e4c2b]">Errata</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="9fcdb0">  <td>16/06/09 08:07:41</td>   <td>106939</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@6e0d4a8]">Discount_No</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="71a7d0">  <td>16/06/09 08:07:41</td>   <td>107435</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@64d7b720]">MethodofPaymentOptions</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>16/06/09 08:07:44</td>   <td>110108</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@30272916]">Reservation_RoomUpgrade</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>16/06/09 08:07:44</td>   <td>110305</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@30272916]">Reservation</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="98927c">  <td>16/06/09 08:08:08</td>   <td>134194</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@30272916]">Room_Upgrade_RoomType</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:08</td>   <td>134364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Reservation_RoomUpgrade</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:09</td>   <td>134587</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Travel_Protection_No</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:09</td>   <td>134830</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Pound()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Financial_Summary_Pound</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:09</td>   <td>134991</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Financial_Summary_Fee</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:10</td>   <td>136229</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Add_Creditcard</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="d7f7e0">  <td>16/06/09 08:08:20</td>   <td>145847</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@5bb3d42d]">Save_Reservation_PaidFee</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:27</td>   <td>152568</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Reservation_Confirmation</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:27</td>   <td>153350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Beginning_Points_Balance</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:27</td>   <td>153516</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Reservation_Cost</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:28</td>   <td>153679</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Total_Points_Used_for_Reservation</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:28</td>   <td>153817</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Ending_Points_Balance</td> 
  <td>main@215632153</td>   <td></td> </tr>
<tr bgcolor="dc67c2">  <td>16/06/09 08:08:28</td>   <td>153992</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@5bf61e67]">Confirmation_Message</td> 
  <td>main@215632153</td>   <td></td> </tr>
</table>
