<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>cclb_Reservations.C_Customer360</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Customer360</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.J_ClubReservations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Room_Upgrade_RoomType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation_RoomType</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation_RoomUpgrade</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.Z_FinalConfirmation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Ending_Points_Balance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Discount</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Confirmation_Message</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation_Cost</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>NextYearEnding_Points_Balance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Borrowed_Points</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation_Confirmation</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Beginning_Points_Balance</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Total_Points_Used_for_Reservation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.G_BookReservation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Resort_Availability</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>BookReservation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.B_Login</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>openBrowser</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.K_FinancialSummary</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Add_Creditcard</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Financial_Summary_Fee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Save_Reservation_PaidFee</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Travel_Protection_Yes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Financial_Summary_Dollar</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Financial_Summary</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Financial_Summary_Euro</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Financial_Summary_Pound</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Travel_Protection_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Reservation_RoomUpgrade</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Save_Reservation</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.N_Discount</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Discount_Yes</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Discount_No</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.E_Reservations</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Reservations</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.F_ClubMembership</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>ClubRes</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.O_Alternate_Guest</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Alternate_Guest</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.D_LeadInformation</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>LeadInfo_Reservations</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.Q_Errata</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Errata</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.P_RoomUpgrade</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Room_Upgrade_No</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Room_Upgrade_Yes</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>cclb_Reservations.I_MOPPayments</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>MethodofPaymentOptions_Borrow</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MethodofPaymentOptions</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>MethodofPaymentOptions_Discount</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
