<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Reservation with Alternate Guest</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72a6de">  <td>16/06/08 14:51:36</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@e3b3b2f]">openBrowser</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/06/08 14:51:46</td>   <td>9098</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@28194a50]">Customer360</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/06/08 14:51:56</td>   <td>19328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@7f2cfe3f]">LeadInfo_Reservations</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/06/08 14:51:58</td>   <td>21451</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@1a5b6f42]">Reservations</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/08 14:52:00</td>   <td>23851</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@5038d0b5]">ClubRes</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/08 14:52:34</td>   <td>57290</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@32115b28]">BookReservation</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/08 14:52:49</td>   <td>72959</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@32115b28]">Resort_Availability</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/06/08 14:53:01</td>   <td>84180</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@2ad48653]">Room_Upgrade_No</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/08 14:53:01</td>   <td>84466</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@6bb4dd34]">Errata</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/06/08 14:53:02</td>   <td>85858</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@7d9f158f]">Discount_No</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/08 14:53:03</td>   <td>86440</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@45efd90f]">MethodofPaymentOptions</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>16/06/08 14:53:06</td>   <td>89292</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@4b8729ff]">Reservation</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>16/06/08 14:53:19</td>   <td>102896</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@4b8729ff]">Reservation_RoomType</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 14:53:20</td>   <td>103065</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="O_Alternate_Guest.Alternate_Guest(java.lang.String)[pri:0, instance:cclb_Reservations.O_Alternate_Guest@61710c6]">Alternate_Guest</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 14:53:29</td>   <td>112142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3214ee6]">Travel_Protection_No</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 14:53:29</td>   <td>112438</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3214ee6]">Financial_Summary_Dollar</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 14:53:29</td>   <td>112626</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3214ee6]">Financial_Summary</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 14:53:39</td>   <td>122535</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3214ee6]">Save_Reservation_PaidFee</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:52</td>   <td>135612</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Reservation_Confirmation</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:53</td>   <td>136369</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Beginning_Points_Balance</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:53</td>   <td>136509</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Reservation_Cost</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:53</td>   <td>136674</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Total_Points_Used_for_Reservation</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:53</td>   <td>136837</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Ending_Points_Balance</td> 
  <td>main@817299424</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/08 14:53:53</td>   <td>137040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@383dc82c]">Confirmation_Message</td> 
  <td>main@817299424</td>   <td></td> </tr>
</table>
