<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CCLB Reservations</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="9d809a">  <td>16/04/11 15:59:00</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@66ea810]">openBrowser</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/11 15:59:06</td>   <td>5681</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@2254127a]">Customer360</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/11 15:59:11</td>   <td>10632</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@51891008]">LeadInfo_Reservations</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/11 15:59:28</td>   <td>27489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@2f953efd]">Reservations</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/11 15:59:31</td>   <td>30134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@f68f0dc]">ClubRes</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/04/11 15:59:55</td>   <td>54130</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@d2de489]">BookReservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/04/11 16:00:36</td>   <td>95364</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@d2de489]">Resort_Availability</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/11 16:00:46</td>   <td>105650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@14bdbc74]">Room_Upgrade_No</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/04/11 16:01:01</td>   <td>120744</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@12591ac8]">Errata</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/11 16:01:02</td>   <td>122047</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@5a7fe64f]">Discount_No</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/11 16:01:03</td>   <td>122426</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@38145825]">MethodofPaymentOptions</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/04/11 16:01:07</td>   <td>126066</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@41330d4f]">Reservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/04/11 16:01:17</td>   <td>136779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@41330d4f]">Reservation_RoomType</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:01:17</td>   <td>136946</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@1b66c0fb]">Travel_Protection_No</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:01:18</td>   <td>137214</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@1b66c0fb]">Financial_Summary_Dollar</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:01:18</td>   <td>137377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@1b66c0fb]">Financial_Summary</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:01:19</td>   <td>138404</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@1b66c0fb]">Save_Reservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:20</td>   <td>139090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Reservation_Confirmation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:22</td>   <td>141351</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Beginning_Points_Balance</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:22</td>   <td>141514</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:3, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Length</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:22</td>   <td>141515</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Reservation_Cost</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:22</td>   <td>141654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:6, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Total_Points_Used_for_Reservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:22</td>   <td>141971</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Ending_Points_Balance</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:01:23</td>   <td>142127</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@3e0e1046]">Confirmation_Message</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/04/11 16:01:23</td>   <td>142446</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@13d73f29]">openBrowser</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/04/11 16:01:29</td>   <td>148644</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@565f390]">Customer360</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/04/11 16:01:35</td>   <td>154599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@7dc3712]">LeadInfo_Reservations</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/04/11 16:01:52</td>   <td>171447</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@2f67a4d3]">Reservations</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/04/11 16:01:54</td>   <td>173518</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@5e3f861]">ClubRes</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/04/11 16:02:14</td>   <td>193995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@2fb0623e]">BookReservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/04/11 16:02:48</td>   <td>227082</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability()[pri:0, instance:cclb_Reservations.G_BookReservation@2fb0623e]">Resort_Availability</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="6a63af">  <td>16/04/11 16:02:57</td>   <td>236885</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@49b2a47d]">Room_Upgrade_Yes</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/04/11 16:02:59</td>   <td>238995</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@5be1d0a4]">Errata</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/04/11 16:04:41</td>   <td>340210</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@415b0b49]">Discount_No</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="a6d1ae">  <td>16/04/11 16:04:56</td>   <td>355368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@6d5620ce]">MethodofPaymentOptions</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/04/11 16:06:45</td>   <td>464889</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@311bf055]">Reservation_RoomUpgrade</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/04/11 16:06:46</td>   <td>465861</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation()[pri:0, instance:cclb_Reservations.J_ClubReservations@311bf055]">Reservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/04/11 16:08:12</td>   <td>551134</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@311bf055]">Room_Upgrade_RoomType</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:12</td>   <td>551298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Reservation_RoomUpgrade</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:13</td>   <td>552106</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Travel_Protection_No</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:13</td>   <td>552350</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Pound()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Financial_Summary_Pound</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:13</td>   <td>552510</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Financial_Summary_Fee</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:29</td>   <td>568372</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Add_Creditcard</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/04/11 16:08:36</td>   <td>575067</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@642a7222]">Save_Reservation_PaidFee</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:38</td>   <td>697912</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Reservation_Confirmation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:41</td>   <td>700344</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Beginning_Points_Balance</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:41</td>   <td>700506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Length()[pri:3, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Length</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:41</td>   <td>700506</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Reservation_Cost</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:41</td>   <td>700676</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:6, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Total_Points_Used_for_Reservation</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:41</td>   <td>700988</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Ending_Points_Balance</td> 
  <td>main@871790326</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/04/11 16:10:42</td>   <td>701159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@7d322cad]">Confirmation_Message</td> 
  <td>main@871790326</td>   <td></td> </tr>
</table>
