<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>CLB RESERVATIONS</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f29c">  <td>16/06/10 09:34:16</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@2254127a]">openBrowser</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/10 09:34:26</td>   <td>9525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@f68f0dc]">Customer360</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/10 09:34:36</td>   <td>19288</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@d2de489]">LeadInfo_Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/10 09:34:38</td>   <td>21402</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@14bdbc74]">Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/10 09:34:41</td>   <td>24820</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@12591ac8]">ClubRes</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:35:16</td>   <td>59566</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5a7fe64f]">BookReservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:35:59</td>   <td>102893</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5a7fe64f]">Resort_Availability</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/10 09:36:14</td>   <td>117694</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@38145825]">Room_Upgrade_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/06/10 09:36:29</td>   <td>132777</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@41330d4f]">Errata</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/10 09:36:30</td>   <td>133524</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@1b66c0fb]">Discount_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/06/10 09:36:31</td>   <td>134416</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e0e1046]">MethodofPaymentOptions</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:36:35</td>   <td>138897</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@24c1b2d2]">Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:37:37</td>   <td>200773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@24c1b2d2]">Reservation_RoomType</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:37:37</td>   <td>200940</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Travel_Protection_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:37:37</td>   <td>201207</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Financial_Summary_Dollar</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:37:38</td>   <td>201368</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Financial_Summary</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:37:39</td>   <td>202465</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Save_Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:41</td>   <td>204298</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Reservation_Confirmation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:42</td>   <td>205377</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Beginning_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:42</td>   <td>205560</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Reservation_Cost</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:42</td>   <td>205748</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Total_Points_Used_for_Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:42</td>   <td>205915</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Ending_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:37:42</td>   <td>206114</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Confirmation_Message</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/06/10 09:37:43</td>   <td>206458</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@2f67a4d3]">openBrowser</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/10 09:37:51</td>   <td>214733</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@5e3f861]">Customer360</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/10 09:38:01</td>   <td>224496</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@2fb0623e]">LeadInfo_Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/10 09:38:17</td>   <td>241246</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@49b2a47d]">Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/10 09:38:23</td>   <td>246604</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@5be1d0a4]">ClubRes</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:38:57</td>   <td>280307</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@415b0b49]">BookReservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:39:31</td>   <td>315270</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@415b0b49]">Resort_Availability</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/10 09:39:45</td>   <td>329276</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_Yes()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@6d5620ce]">Room_Upgrade_Yes</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/06/10 09:40:05</td>   <td>349266</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@311bf055]">Errata</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/10 09:40:07</td>   <td>350677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@642a7222]">Discount_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/06/10 09:40:07</td>   <td>351198</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@7d322cad]">MethodofPaymentOptions</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:40:10</td>   <td>353756</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.J_ClubReservations@21be3395]">Reservation_RoomUpgrade</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:40:10</td>   <td>353986</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@21be3395]">Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:41:37</td>   <td>440871</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Room_Upgrade_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@21be3395]">Room_Upgrade_RoomType</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:37</td>   <td>441043</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Reservation_RoomUpgrade()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Reservation_RoomUpgrade</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:37</td>   <td>441275</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Travel_Protection_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:38</td>   <td>441544</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Pound()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Financial_Summary_Pound</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:38</td>   <td>441661</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Fee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Financial_Summary_Fee</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:39</td>   <td>442761</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Add_Creditcard()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Add_Creditcard</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:41:48</td>   <td>451489</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4f49f6af]">Save_Reservation_PaidFee</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:54</td>   <td>458004</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Reservation_Confirmation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:55</td>   <td>458699</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Beginning_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:55</td>   <td>458836</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Reservation_Cost</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:55</td>   <td>458997</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Total_Points_Used_for_Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:55</td>   <td>459158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Ending_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:41:56</td>   <td>459337</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@78452606]">Confirmation_Message</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/06/10 09:41:56</td>   <td>459635</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@2235eaab]">openBrowser</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/10 09:42:04</td>   <td>467494</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@17503f6b]">Customer360</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/10 09:42:12</td>   <td>475482</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@3bcd05cb]">LeadInfo_Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/10 09:42:43</td>   <td>507006</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@3b6d844d]">Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/10 09:42:52</td>   <td>516109</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@36804139]">ClubRes</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:43:25</td>   <td>549159</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@20bd8be5]">BookReservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="b26eb9">  <td>16/06/10 09:44:01</td>   <td>585253</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_SearchReservation.Availability_Search_Request_ChoicesAvailable()[pri:0, instance:cclb_Reservations.H_SearchReservation@730d2164]">Availability_Search_Request_ChoicesAvailable</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/06/10 09:44:19</td>   <td>602345</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@7068e664]">openBrowser</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/10 09:44:27</td>   <td>610697</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@60db1c0e]">Customer360</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/10 09:44:35</td>   <td>618927</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@3e78b6a5]">LeadInfo_Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/10 09:44:52</td>   <td>635624</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@769a1df5]">Reservations</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/10 09:44:57</td>   <td>640376</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@41f69e84]">ClubRes</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:45:34</td>   <td>677713</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@7975d1d8]">BookReservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 09:46:25</td>   <td>729206</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@7975d1d8]">Resort_Availability</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/10 09:46:37</td>   <td>740695</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@2438dcd]">Room_Upgrade_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/06/10 09:46:52</td>   <td>755815</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@24105dc5]">Errata</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/10 09:46:53</td>   <td>756547</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@5167f57d]">Discount_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/06/10 09:46:53</td>   <td>757094</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions()[pri:0, instance:cclb_Reservations.I_MOPPayments@64b0598]">MethodofPaymentOptions</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:46:57</td>   <td>761174</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@18f8cd79]">Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 09:47:50</td>   <td>813730</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@18f8cd79]">Reservation_RoomType</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:47:50</td>   <td>813873</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3e2055d6]">Travel_Protection_No</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:47:50</td>   <td>814090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Euro()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3e2055d6]">Financial_Summary_Euro</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:47:50</td>   <td>814263</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3e2055d6]">Financial_Summary</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 09:47:52</td>   <td>815379</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation()[pri:0, instance:cclb_Reservations.K_FinancialSummary@3e2055d6]">Save_Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:53</td>   <td>817141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Reservation_Confirmation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:55</td>   <td>818468</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Beginning_Points_Balance()[pri:2, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Beginning_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:55</td>   <td>818654</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Reservation_Cost</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:55</td>   <td>818819</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Total_Points_Used_for_Reservation</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:55</td>   <td>818982</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Ending_Points_Balance</td> 
  <td>main@1457263953</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 09:47:55</td>   <td>819156</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@50029372]">Confirmation_Message</td> 
  <td>main@1457263953</td>   <td></td> </tr>
</table>
