<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Borrow points from next year</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="c0669d">  <td>16/06/08 15:01:03</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5038d0b5]">BookReservation</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:05</td>   <td>121687</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Borrowed_Points()[pri:6, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Borrowed_Points</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/08 15:00:34</td>   <td>-29071</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@1a5b6f42]">ClubRes</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:06</td>   <td>122710</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Confirmation_Message</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/06/08 14:59:41</td>   <td>-82191</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@6cc4cdb9]">Customer360</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="d5c0ae">  <td>16/06/08 15:02:17</td>   <td>73522</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@6bb4dd34]">Discount_No</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:06</td>   <td>122242</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Ending_Points_Balance</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/08 15:02:16</td>   <td>72779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@2ad48653]">Errata</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 15:02:48</td>   <td>104320</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4b8729ff]">Financial_Summary</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 15:02:47</td>   <td>104158</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4b8729ff]">Financial_Summary_Dollar</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="6276b3">  <td>16/06/08 15:00:00</td>   <td>-63034</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@28194a50]">LeadInfo_Reservations</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/08 15:02:17</td>   <td>74113</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Borrow()[pri:0, instance:cclb_Reservations.I_MOPPayments@7d9f158f]">MethodofPaymentOptions_Borrow</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:06</td>   <td>122434</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.NextYearEnding_Points_Balance()[pri:9, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">NextYearEnding_Points_Balance</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>16/06/08 15:02:35</td>   <td>91780</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@45efd90f]">Reservation</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:04</td>   <td>120719</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Reservation_Confirmation</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:05</td>   <td>121525</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Reservation_Cost</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="bbef66">  <td>16/06/08 15:02:47</td>   <td>103773</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@45efd90f]">Reservation_RoomType</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="78f29c">  <td>16/06/08 15:00:32</td>   <td>-31401</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@7f2cfe3f]">Reservations</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/08 15:01:17</td>   <td>13828</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5038d0b5]">Resort_Availability</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/06/08 15:02:01</td>   <td>57707</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@32115b28]">Room_Upgrade_No</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 15:02:56</td>   <td>113141</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4b8729ff]">Save_Reservation_PaidFee</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/08 15:03:05</td>   <td>122075</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@61710c6]">Total_Points_Used_for_Reservation</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/08 15:02:47</td>   <td>103916</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@4b8729ff]">Travel_Protection_No</td> 
  <td>main@1124162665</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/06/08 14:59:32</td>   <td>-91329</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@50029372]">openBrowser</td> 
  <td>main@1124162665</td>   <td></td> </tr>
</table>
