<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Search Reservation</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="88ff8c">  <td>16/06/09 09:20:22</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@2438dcd]">openBrowser</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/09 09:20:32</td>   <td>9935</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@64b0598]">Customer360</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="9d809a">  <td>16/06/09 09:20:44</td>   <td>21895</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@18f8cd79]">LeadInfo_Reservations</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="dca596">  <td>16/06/09 09:21:16</td>   <td>53595</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@3e2055d6]">Reservations</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="72a6de">  <td>16/06/09 09:21:23</td>   <td>60629</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@50029372]">ClubRes</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="86ae92">  <td>16/06/09 09:22:02</td>   <td>100124</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@e3b3b2f]">BookReservation</td> 
  <td>main@1160649162</td>   <td></td> </tr>
<tr bgcolor="f67ac7">  <td>16/06/09 09:22:44</td>   <td>141378</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="H_SearchReservation.Availability_Search_Request_ChoicesAvailable()[pri:0, instance:cclb_Reservations.H_SearchReservation@50f6ac94]">Availability_Search_Request_ChoicesAvailable</td> 
  <td>main@1160649162</td>   <td></td> </tr>
</table>
