<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Reservation with Refund</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="78f29c">  <td>16/06/10 10:22:30</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="B_Login.openBrowser()[pri:0, instance:cclb_Reservations.B_Login@2254127a]">openBrowser</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="7b7577">  <td>16/06/10 10:22:39</td>   <td>9233</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="C_Customer360.Customer360(java.lang.String)[pri:0, instance:cclb_Reservations.C_Customer360@f68f0dc]">Customer360</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="c0669d">  <td>16/06/10 10:22:58</td>   <td>28437</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="D_LeadInformation.LeadInfo_Reservations()[pri:0, instance:cclb_Reservations.D_LeadInformation@d2de489]">LeadInfo_Reservations</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="829dd8">  <td>16/06/10 10:23:30</td>   <td>59932</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="E_Reservations.Reservations()[pri:0, instance:cclb_Reservations.E_Reservations@14bdbc74]">Reservations</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="c6a292">  <td>16/06/10 10:23:32</td>   <td>62192</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="F_ClubMembership.ClubRes()[pri:0, instance:cclb_Reservations.F_ClubMembership@12591ac8]">ClubRes</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 10:24:02</td>   <td>92390</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.BookReservation(java.lang.String, java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5a7fe64f]">BookReservation</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="a0d5f0">  <td>16/06/10 10:24:43</td>   <td>133090</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="G_BookReservation.Resort_Availability(java.lang.String)[pri:0, instance:cclb_Reservations.G_BookReservation@5a7fe64f]">Resort_Availability</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="93ce8c">  <td>16/06/10 10:25:26</td>   <td>175653</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="P_RoomUpgrade.Room_Upgrade_No()[pri:0, instance:cclb_Reservations.P_RoomUpgrade@38145825]">Room_Upgrade_No</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="a4a98b">  <td>16/06/10 10:25:41</td>   <td>190650</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Q_Errata.Errata()[pri:0, instance:cclb_Reservations.Q_Errata@41330d4f]">Errata</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="af7cc2">  <td>16/06/10 10:25:41</td>   <td>191422</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="N_Discount.Discount_No()[pri:0, instance:cclb_Reservations.N_Discount@1b66c0fb]">Discount_No</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="9c7e69">  <td>16/06/10 10:25:42</td>   <td>191973</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="I_MOPPayments.MethodofPaymentOptions_Borrow()[pri:0, instance:cclb_Reservations.I_MOPPayments@3e0e1046]">MethodofPaymentOptions_Borrow</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 10:26:48</td>   <td>258160</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation(java.lang.String)[pri:0, instance:cclb_Reservations.J_ClubReservations@24c1b2d2]">Reservation</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="88ff8c">  <td>16/06/10 10:27:05</td>   <td>274832</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="J_ClubReservations.Reservation_RoomType()[pri:0, instance:cclb_Reservations.J_ClubReservations@24c1b2d2]">Reservation_RoomType</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 10:27:05</td>   <td>275001</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Travel_Protection_No()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Travel_Protection_No</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 10:27:05</td>   <td>275260</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary_Dollar()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Financial_Summary_Dollar</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 10:27:05</td>   <td>275397</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Financial_Summary()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Financial_Summary</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="857384">  <td>16/06/10 10:27:14</td>   <td>283664</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="K_FinancialSummary.Save_Reservation_PaidFee()[pri:0, instance:cclb_Reservations.K_FinancialSummary@7dc19a70]">Save_Reservation_PaidFee</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:19</td>   <td>288779</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Confirmation()[pri:1, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Reservation_Confirmation</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:20</td>   <td>289517</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Reservation_Cost()[pri:4, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Reservation_Cost</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:20</td>   <td>289677</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Borrowed_Points()[pri:6, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Borrowed_Points</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:20</td>   <td>290040</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Total_Points_Used_for_Reservation()[pri:7, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Total_Points_Used_for_Reservation</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:20</td>   <td>290152</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Ending_Points_Balance()[pri:8, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Ending_Points_Balance</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:20</td>   <td>290328</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.NextYearEnding_Points_Balance()[pri:9, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">NextYearEnding_Points_Balance</td> 
  <td>main@951031848</td>   <td></td> </tr>
<tr bgcolor="ba99da">  <td>16/06/10 10:27:21</td>   <td>290602</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Z_FinalConfirmation.Confirmation_Message()[pri:10, instance:cclb_Reservations.Z_FinalConfirmation@508dec2b]">Confirmation_Message</td> 
  <td>main@951031848</td>   <td></td> </tr>
</table>
